@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap');
/*
general settings
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Main-red: hsla(350, 96%, 43%, 1);
    --Dark-red: hsla(350, 96%, 36%, 1);
    --Ox-blood: hsla(350, 96%, 9%, 1);
    --Light_peach: hsla(350, 74%, 89%, 1);
    --Light-red: hsla(347, 100%, 98%, 1);
    --Grey: hsla(0, 0%, 35%, 1);
    --Darkish-grey: hsla(0, 0%, 17%, 1);
    --Black: hsla(0, 0%, 1%, 1);
}
body{
    max-width: 100%;
    max-height: 100vh;
    min-width: 376px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/*navbar*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: auto;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
nav ul li .item-link{
    display: inline-flex;
    flex-direction: row;
    margin-right: 0.8em;
    align-items: center;
    justify-content: center;
    color: var(--Black);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.item-link:hover{
    color: var(--Dark-red);
    transition: all ease-in-out .3s;
}
.drop-down{
    width: 10px;
    height: 10px;
    margin-right: 8em;
}
/*hero section*/

.hero-main{
    
    position: relative;
    
}

.HM-1 {
    width: 500px;
    height: 150px;
    
    position: absolute;
    top: 25rem;
    left: 100px;
    
}
h2{
    font-size: 55px;
    color: var(--Light-red);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
p {
    color: var(--Light-red);
    font-size: 20px;
    font-weight: 400;
}

span {
    color: var(--Main-red);
}

.HM-2 {
    width: 50rem;
    height: 350px;
    background-color: var(--Light-red);
    position: absolute;
    top:45rem ;
    left:100px ;
    box-shadow: 20px 20px 20px;
    
}

article {
    display: inline-flex;
    width: 300px;
    height: 80px;
    align-items: center;
    padding-left: 60px;
    font-size:20px ;
    font-weight: 400;
}

.HM-3{
    background-color: lightpink;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr );
    margin-left: 60px;
    margin-right: 60px;
    gap: 40px;
    margin-top: 40px;
}

input{
    height: 50px;
}

.HM-4 {
    height: 60px;
    width: 150px;
    background-color: var(--Black);
    margin-left: 320px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

.HM-4 a {
    cursor: pointer;
    color: var(--Light-red);
    transition: 2s all;

}

a:hover {
    background-color: var(--Light-red);
}


/* explore section */

.explore-section {
    width: 100%;
    height: 250vh;
    background-color:white;
    

}

.ES-1 {
    width: 43rem;
    height: 150px;
    position: relative;
    top: 250px;
    left: 20rem;
    text-align: center;
    
}

h3 {
    font-weight: 600;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Main-red);
}

nav ul  {
    justify-content: space-around;
    margin-top: 20px;
}

nav ul li {
    font-weight: 100;
    font-size: 20px;
}

nav ul li a {
    color: var(--Black);
}

nav ul li a:hover {
    background-color: var(--Main-red);
    cursor: pointer;
    transition:  3s all;
}

.ES-2 {
    width: 100%;
    height: 1px;
    border: 1px solid var(--Main-red);
    margin-top: 10px;
}


.container-2 {
    width:58rem ;
    height: 27rem;
    background-color: brown;
    position: relative;
    top: 15rem;
    left:15rem ;
    display: grid;
    grid-template-columns: 1fr 1fr 220px;
    grid-template-rows: repeat(2,1fr);
    column-gap: 15px;
    row-gap: 20px;
}

.item {
    background-color: blue;
    
}
/*.item3 {
    background-color: blueviolet;
    width: 200px;
    margin-left: 100px;
}*/






/*Login details*/