@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap');
/*
general settings
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2em;
    font-family: 'Poppins', sans-serif;
}

:root{
    --Main-red: hsla(350, 96%, 43%, 1);
    --Dark-red: hsla(350, 96%, 36%, 1);
    --Ox-blood: hsla(350, 96%, 9%, 1);
    --Light_peach: rgb(235, 193, 200);
    --Light-red: hsla(347, 100%, 98%, 1);
    --Grey: rgb(159, 156, 156);
    --Darkish-grey: hsla(0, 0%, 17%, 1);
    --Black: hsla(0, 0%, 1%, 1);
    --white: #fff;
    --bright: #e9e7e7;
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/*navbar*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(46, 46, 46, 0.5);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
nav ul li .item-link{
    display: inline-flex;
    flex-direction: row;
    margin-right: 0.8em;
    align-items: center;
    justify-content: center;
    color: var(--Black);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.item-link:hover{
    color: var(--Dark-red);
    transition: all ease-in-out .3s;
}
.drop-down{
    width: 10px;
    height: 10px;
    margin-right: 8em;
}
/*hero section*/
.hero-section{
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -99;
    overflow: hidden;
    position: relative;
}
#video2{
    display: none;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.hero-section video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    margin: 0 auto;
  }
  .hero-text{
    color: var(--white);
    z-index: 10;
    position: relative;
    margin: 5em;
  }
  .hero-text .hero-heading{
    font-size: 50px;
    margin-top: 1em;
  }
  .hero-text span{
    color: var(--Main-red);
  }
  .hero-text .hero-paragraph{
    line-height: 1.6;
    margin-top: 0.4em;
    font-size: 18px;
  }
  /*hero-form*/


  /*explore*/
  .explore,
  .brand{
   padding: 20px;
   margin-top: 3em;
  }
  .explore-heading{
    color: var(--Main-red);
    font-size: 32px;
    text-align: center;
  }
  .explore-tab,
  .brand-tab{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--Grey);
    margin-left: 19em;
    position: relative;
  }
  .explore-tab .tab-btn,
  .brand-tab .tab-btn1{
    color: var(--Grey);
    background: none;
    border: none;
    margin-right: 20px;
    padding: 12px;
    cursor: pointer;
  }
  .explore-tab .tab-btn.active,
  .brand-tab .tab-btn1.active{
    color: var(--Main-red);
  }
.explore-content,
.brand-content{
    padding: 20px;
}
.explore-content .explore-cards,
.brand-content .brand-cards{
    display: none;
    animation: moving .5s ease;
}

@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}
.explore-content .explore-cards.active,
.brand-content .brand-cards.active{
    display: block;
}
.card-box,
.brand-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 4em;
}
.card-box .card-explore,
.brand-box .card-brand{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.card-explore img{
    width: 130px;
}
.card-box .card-explore .card{
    background-color: var(--Black);
    height: 182px;
    width: 150px;
    text-align: center;
    color: var(--white);
    padding: 10px;
}
.card .card-text{
    font-size: 12px;
    margin-top: 15px;
}
.card .card-heading{
    font-size: 13px;
    margin-top: 15px;
}
.card .card-text1{
    font-size: 10px;
    margin-top: 6px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}

.box-cards{
    display: flex;
    justify-content: space-between;
}
.box-cards .card1 h3,
.box-cards .card2 h3{
    font-size: 18px;
}
.explore-line,
.brand-line{
    top: 42px;
    left: 17px;
    width: 90px;
    height: 5px;
    position: absolute;
    transition: all .3s ease-in-out;
    background-color: var(--Main-red);
    border-radius: 5px;
}

.explore-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6em 1.5em;
}
.explore-btn .explore-btn1{
    background-color: var(--Black);
    padding: 12px;
    border: none;
    margin-right: 7em;
    border-radius: 5px;
    color: var(--white);
}
.explore-btn .explore-btn2{
    border: none;
    background-color: transparent;
}
.explore-btn .explore-btn2 a{
    color: var(--Black);
}


/* detail */
.detail{
    background-color: var(--Darkish-grey);
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    color: var(--white);
    margin-top: 4em;
}
.detail-heading{
    font-size: 26px;
    margin-top: .6em;
    text-align: center;
}
.detail-card{
    margin-top: 2.8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.detail-cards{
    border: 1px solid var(--white);
    padding: 50px;
    border-radius: 5px;
}
.detail-cards img{
    margin-left: 1.5em;
}
.detail-cards p{
    margin-top: 1em;
    text-align: center;
}

/* about*/
.about{
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.about-heading{
    color: var(--Main-red);
    font-size: 28px;
    text-align: center;
}
.about-box{
    display: flex;
    justify-content: space-between;
    margin: 2em 15em;
}
.about-box img{
    width: 400px;
    height: 400px;
    margin-right: 3em;
}
.about-card{
    display: flex;
    justify-content: space-evenly;
}
.about-numbers{
    border: 1px solid var(--Main-red);
    margin: 3em;
    height: 30px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--Main-red);
}
.about-text h5{
    font-size: 15px;
    margin-top: 20px;
}
.about-text p{
    font-size: 10px;
    margin-top: 15px;
    line-height: 1.5;
}
/*login*/
.form{
    font-family: 'Poppins', san-serif;
    background-color: var(--Light-red);
    margin: 4em 25em;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 5px;
    height: 80%;
    padding: 5em 7em;
}
.form h1{
    text-align: center;
}
.form form{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}
.form h1{
    color: var(--Main-red);
    font-size: 30px;
    font-weight: 600;
}
.form label{
    font-size: 12px;
    margin-top: 1em;
}
.form input{
    width: 100%;
    height: 35px;
    margin-top: 0.2em;
    padding: 8px;
    border: 1px solid var(--Grey);
    border-radius: 5px;

}
.form p{
    font-size: 10px;
    margin-top: 0.4em;
    color: var(--Dark-red);
    font-weight: 600;
}
.form .primary-btn{
    background-color: var(--Black);
    color: var(--white);
    border: none;
    height: 35px;
    margin-top: 2em;
    border-radius: 5px;
}
.form .login{
    padding: 8px;
    height: 35px;
}
/*footer*/
end {
    background-color: #2c2c2c;
    width: 100%;
    height: 280px;
    margin-top: 43px;

}

.end-1 {
    width: 100%;
    height: 60px;
    background-color: #020202;
}

.img-end2 {
    padding-top: 60px;
    padding-left: 100px;

}

.img-end {
    padding-left: 100px;
}

.img-end3 {
    position: relative;
    left: 600px;
    top: 20px;

}