@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap');
/*
general settings
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2em;
    font-family: 'Poppins', sans-serif;
}

:root{
    --Main-red: hsla(350, 96%, 43%, 1);
    --Dark-red: hsla(350, 96%, 36%, 1);
    --Ox-blood: hsla(350, 96%, 9%, 1);
    --Light_peach: rgb(235, 193, 200);
    --Light-red: hsla(347, 100%, 98%, 1);
    --Grey: rgb(121, 121, 121);
    --Darkish-grey: hsla(0, 0%, 17%, 1);
    --Black: hsla(0, 0%, 1%, 1);
    --white: #fff;
    --bright: #e9e7e7;
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
}
body{
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/*navbar*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(46, 46, 46, 0.5);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
nav ul li .item-link{
    display: inline-flex;
    flex-direction: row;
    margin-right: 0.8em;
    align-items: center;
    justify-content: center;
    color: var(--Black);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.item-link:hover{
    color: var(--Dark-red);
    transition: all ease-in-out .3s;
}
.drop-down{
    width: 10px;
    height: 10px;
    margin-right: 8em;
}
/*hero section*/
.hero-section{
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -99;
    overflow: hidden;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.hero-section video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    margin: 0 auto;
  }
  .hero-text{
    color: var(--white);
    z-index: 10;
    position: relative;
    margin: 5em;
  }
  .hero-text .hero-heading{
    font-size: 50px;
    margin-top: 3em;
  }
  .hero-text span{
    color: var(--Main-red);
  }
  .hero-text .hero-paragraph{
    line-height: 1.6;
    margin-top: 0.4em;
    font-size: 18px;
  }
  /*hero-form*/
  .hero-form{
    z-index: 10;
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 0px 40px rgba(46, 46, 46, 0.5);
    width: 700px;
    height: 200px;
    margin-left: 5em;
}
.tabs ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.tabs ul li label{
    position: relative;
    display: block;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-left: 5em;
    text-align: center;

}
.tabs-content{

}
.tabs-content input{
    position: absolute;
    z-index: -100;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0;
    top: -10000px;
    display: none;
}
.tabs-content input:checked{
    background-color: var(--Light_peach);
    width: 200%;
}
.tabs-content input:checked + .tabs-form{
    display: block;
}
.tabs-form{
    padding: 20px;
}
.tabs-form select{
    margin: 0px 18px 20px;
    width: 43%;
    padding: 10px;
}

 /*
  .hero-form .tabContainer{
    height: 20%;
  }
  .hero-form .tabContainer button.active{
    background-color: var(--Light_peach);
  }
  .hero-form .tabContainer button{
    width: 250px;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .hero-form form{
    margin: 2em;
  }
  .hero-form form select{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 200px;
    outline: none;
    margin-left: 0.4em;

  }
  */
/*login*/
.form{
    font-family: 'Poppins', san-serif;
    background-color: var(--Light-red);
    margin: 4em 25em;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 5px;
    height: 80%;
    padding: 5em 7em;
}
.form h1{
    text-align: center;
}
.form form{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}
.form h1{
    color: var(--Main-red);
    font-size: 30px;
    font-weight: 600;
}
.form label{
    font-size: 12px;
    margin-top: 1em;
}
.form input{
    width: 100%;
    height: 35px;
    margin-top: 0.2em;
    padding: 8px;
    border: 1px solid var(--Grey);
    border-radius: 5px;

}
.form p{
    font-size: 10px;
    margin-top: 0.4em;
    color: var(--Dark-red);
    font-weight: 600;
}
.form .primary-btn{
    background-color: var(--Black);
    color: var(--white);
    border: none;
    height: 35px;
    margin-top: 2em;
    border-radius: 5px;
}
.form .login{
    padding: 8px;
    height: 35px;
}