@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap');
/*
general settings
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Main-red: hsla(350, 96%, 43%, 1);
    --Dark-red: hsla(350, 96%, 36%, 1);
    --Ox-blood: hsla(350, 96%, 9%, 1);
    --Light_peach: hsla(350, 74%, 89%, 1);
    --Light-red: hsla(347, 100%, 98%, 1);
    --Grey: hsla(0, 0%, 35%, 1);
    --Darkish-grey: hsla(0, 0%, 17%, 1);
    --Black: hsla(0, 0%, 1%, 1);
}
body{
    max-width: 100%;
    max-height: 100vh;
    min-width: 376px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/*navbar*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: auto;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
nav ul li .item-link{
    display: inline-flex;
    flex-direction: row;
    margin-right: 0.8em;
    align-items: center;
    justify-content: center;
    color: var(--Black);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.item-link:hover{
    color: var(--Dark-red);
    transition: all ease-in-out .3s;
}
.drop-down{
    width: 10px;
    height: 10px;
    margin-right: 8em;
}
/*hero section*/

.hero-main{
    height: 100vh;
}

/*Login details*/